/* styles that are specific to the placeholder site (can be deleted after filling in actual site content) */

body{
  min-height:100vh;
}

section{
  min-height:auto;
}
section h1{
  margin-bottom:50px;
}
section p{
  margin-bottom:10px;
}